html {
	font-family: 'Arsenal', 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 1.4em;
}

header {
	margin-bottom: 65px;
}

body {
	max-width: 960px;
	padding: 1em calc(50% - 480px);
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	line-height: 1.4em;
}

section {
	margin-bottom: 45px;
}

ul p {
	font-size: 1.2em;
}

.about__group {
	display: flex;

}

.about__list {
	width: 50%;
	padding: 0;
	list-style: none;
}

.about__list span {
	font-weight: 700;
}